.whatsappApiKey MuiOutlinedInput-notchedOutline {
    border-color:rgb(8, 0, 0) !important;
    color:rgb(8, 0, 0) !important;
}

.whatsappApiKey #outlined-multiline-flexible-label{
    color: rgb(4, 0, 0) !important;
}

.whatsappApiKey .MuiOutlinedInput-notchedOutline {
    border-color:white !important;
    color:white !important;
}
.whatsappApiKey .MuiInputBase-input {
    color: rgb(7, 0, 0) !important;
}
.mybots .MuiInputBase-input .MuiOutlinedInput-notchedOutline{
    color: white;
    border-color: white;
    
}

.mybots{
  height: 100%;
  background: linear-gradient(246.62deg, #42A5F6 7.3%, #6B1A9B 97.22%);
  display: flex;
  flex: 1;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.container2{
    width: 90%;
    margin-bottom: 100px;
}
 .title2{
    background: white;
    margin-top: 50px;
    margin-bottom: 3px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-color: aqua;
    border-bottom-width: 5px;
    font-size: 25px;
    color: #42A5F6;

    
 }

 @media (max-width: 600px) {
    .title2 {
        /* Aquí puedes ajustar los estilos para adaptarse a la pantalla más pequeña */
        font-size: 20px;
        margin-top: 20px;
        padding: 5px;
    }
}

/* Cuando la anchura de la ventana del navegador es 900px o más */
@media (min-width: 900px) {
    .title2 {
        /* Aquí puedes ajustar los estilos para adaptarse a la pantalla más grande */
        font-size: 30px;
        margin-top: 70px;
        padding: 15px;
    }
}


.marginTop {
    height:100px;
}

/*------------- TABLE----------- */

.tableContainer{
    
    overflow: 'hidden';
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;
}

.table{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;
}

/*------------- editBots----------- */

.closeBtn{
    display: flex;
    justify-content: flex-end;
    align-content: right;
    align-items: right;
    justify-content: right;
    justify-items: right;
    font-size: large;
    margin-right: 10px;
    color: red;

}

.myDialog {
    width: 100%;
    
}

.myDialog .MuiDialog-paper {
    border-radius: 25px;
    background: white;
    
    
}

.myDialogDelete .MuiDialog-paper {
    border-radius: 25px;
    background: #F4F9FD;
    padding: 20px;
}

.myDialogTitle {
    
    color: #42A5F6;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
  }

  .myTextField .MuiOutlinedInput-root {
    border-radius: 20px;
  }
  
  .myTextField .MuiOutlinedInput-root fieldset {
    font-size: 18px;
    border-color: #42A5F6;
  }
  
  .myTextField .MuiOutlinedInput-root input {
    font-size: 18px;
  }
  
  .myTextField .MuiInputLabel-root {
    font-size: 18px;
  }
  .myTextField2 .MuiInputLabel-root {
    font-size: 10px;
  }

  .myTextField2 .MuiOutlinedInput-root input {
    font-size: 10px;
  }

  .tableButton {
    font-size: 1rem;
    font-weight: bold;
    width: 90%;
    color: white;
    background-color: #42A5F6;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    transition: background-color 0.3s ease;
  }
  
  .tableButton:hover {
    background-color: #057abf;
  }
  
  .tableButton:focus {
    outline: none;
  }
  
  .tableButton.deleteButton {
    background-color: red;
  }
  
  .tableButton.deleteButton:hover {
    background-color: #c70000;
  }