.promptForm {
    background-image: url("../../img/fondo.svg");
    background-size: 100vw;
    padding-bottom: 5%;
}
.inputCreate .MuiOutlinedInput-notchedOutline {
    border-color:white;
    color:white;
}

.inputCreate #outlined-multiline-flexible-label{
    color: white;
}

.inputCreate .MuiOutlinedInput-notchedOutline {
    border-color:white;
    color:white;
}
.inputCreate .MuiInputBase-input .MuiOutlinedInput-input{
    color: white;
}

.inputCreate textarea{
    color: white;
    border-color: whiteblack;
}
